* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c2e0e3;
}

li {
  list-style: none;
}

.logo {
  margin-top: 10px;
}

.card-list {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border-bottom: 5px solid #c0f0d9;
  border-radius: 25px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.card-list img {
  height: 20px;
}
